@font-face {
  font-family: 'LARP';
  src: url('./LARPdisplay.woff2') format("woff2-variations"),
       url('./LARPdisplay.woff2') format("woff2"); /* poss for older browsers? */
       font-display: swap;
/*font-weight: 100 1000; */
font-stretch: 85% 100%;
}




body {
	  height: 5000px;
    color: #000;
    background-color: black;
    text-align: center;
    font-size: 1em;
    line-height: 1.618;
    margin: 0 auto;

}

.top{
	height: 20vh;
	width: 100vw;
	position: fixed;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
	top:0;
	z-index: 1;
}


.bottom{
	height: 20vh;
	width: 100vw;
	position: fixed;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
	bottom:0;
	z-index: 1;
}


header {
	font-family: "Larp";
	line-height:0.85;
	font-size: 20vw;
  background-color: #f62e13;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
	margin: auto;
	display: flex;
  justify-content: center;
  align-items: center;
  color: #1a3720;
}

.flower{
  background:
  url('flower.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width:100vw;
  display: flex;
  justify-content: center;
  flex-flow: column;
}


.fadein{
	  transition: opacity 1s;
}

.imagewrapper{
	height: 24vw;
	width: 80vw;
	background:
	url('luttrell.png')  local;
	background-repeat: no-repeat;
	background-size: 80vw;
	background-position:  center bottom;
	margin: auto;
	background-color: var(--gray);
  transition: opacity 1s;

}

.row{
display:flex;
flex-flow:row;
}

.limg{
  padding-left: 4vw;

}

.rimg{
  padding-right: 4vw;
}

#border{
  max-width: 80vw;
  display: flex;
  justify-content: center;
  margin:auto;
}



.hero{
	font-family: "Larp";
	height: 100vh;
	text-align: center;
	line-height:0.85;
	font-size: 20vw;
	color:white;
	display: flex;
  justify-content: center;
  align-items: center;
	transition:1s;
}


.divide{
	width:80%;
	height:5px;
	background-color: white;
	margin: auto;
	margin-top: 25vh;
	margin-bottom: 25vh;
}

.ruskin {
	padding-top:15vh;
	color:white;
	font-size: 4.07vw;
	font-family: "Larp";
	line-height:1.3;
	text-align:left;
	padding-left: 10vw;
	padding-right: 10vw;

}

.sample {
	padding-top:;
	color:white;
	font-size: 10vw;
	font-family: "Larp";
	line-height:1.8;
	display: flex;
	flex-flow:column;
	padding-left: 10vw;
	padding-right: 10vw;
}

#left{
	text-align: left;
}

#right{
	text-align: right;
}



.fade-in {
  animation: fadeIn 2s;
}

.fade-out {
  animation: fadeOut 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
