@font-face {
  font-family: 'LARP';
  src: url('./LARPdisplay.woff2') format("woff2-variations"),
       url('./LARPdisplay.woff2') format("woff2"); /* poss for older browsers? */
       font-display: swap;
/*font-weight: 100 1000; */
font-stretch: 85% 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');



body {
	  height: 5000px;
    color: #000;
    background-color: black;
    text-align: center;
    font-size: 1em;
    line-height: 1.618;
    margin: 0 auto;

}

.top{
	height: 20vh;
	width: 100vw;
	position: fixed;
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
	top:0;
	z-index: 1;
}


.bottom{
	height: 20vh;
	width: 100vw;
	position: fixed;
	background: rgb(0,0,0);
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
	bottom:0;
	z-index: 1;
}


.subheading{
  font-family:'Larp';
  font-size:2.2em;
  color: white;
  padding-top:8vh;
}



/*This header is for the fadeout header which is commented out in the html*/
header {
	font-family: "Larp";
	line-height:0.85;
	font-size: 18vw;
  background-color: #7e0a0a;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  /* padding-top: 5vh; */
  top: 0;
  left: 0;
	margin: auto;
	display: flex;
  justify-content: center;
  align-items: center;
}



.fadein{
	  transition: opacity 1s;
}

.fadeimage{
	height: 24vw;
	width: 80vw;
	background:
	url('luttrell.png')  local;
	background-repeat: no-repeat;
	background-size: 80vw;
	background-position:  center bottom;
	margin: auto;
	background-color: var(--gray);
  transition: opacity 1s;

}

.row{
display:flex;
flex-flow:row;
}

.limg{
  padding-left: 1vw;

}

.rimg{
  padding-right: 1vw;
}

#border{
  max-width: 80vw;
  display: flex;
  justify-content: center;
  margin:auto;
}

#border img{
  max-width:55vw;
  padding-top:10vh;
  padding-bottom:2vh;
}

#border img[src="border-6.png"]{
  max-width:100vw;
  padding-top:20vh;
  padding-bottom:0;
}




#gap{
  height:30vh;
  max-width: 80vw;
  margin:auto;
}

.tipwrapper{
  text-decoration: underline;
  text-decoration-style: dotted;
}
.tipwrapper:hover .tooltip {
  display:block;
}

.tooltip {
  font-size: 1rem;
  display: none;
  color: red;
  background-color: white;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  left: 40vw; /* moves the tooltip to the right */
  position:absolute;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1000;
}

.hero{
	font-family: "Larp";
	height: 100vh;
	text-align: center;
	line-height:0.85;
	font-size: 20vw;
	color:white;
	display: flex;
  justify-content: center;
  align-items: center;
	transition:1s;
}


.divide{
	width:60%;
	height:3px;
	background-color: white;
	margin: auto;
	margin-top: 20vh;
	margin-bottom: 20vh;
}

.ruskin {
	padding-top:15vh;
	color:white;
	font-size: 4vw;
	font-family: "Larp";
	line-height:1.3;
	text-align:left;
	padding-left: 10vw;
	padding-right: 10vw;
}

.quote {
	padding-top:15vh;
	color:white;
	font-size: 3.56vw;
	font-family: "Larp";
	line-height:1.3;
	text-align:left;
	padding-left: 10vw;
	padding-right: 10vw;
}

.heading {
	color: white;
	font-size: 3vw;
	font-family: "Larp";
	line-height:1.3;
	text-align:left;
  padding-top:10vh;
	padding-left: 10vw;
	padding-right: 10vw;
  padding-bottom: 10vh;
  display: flex;
}

.heading div{
  margin: auto;

}

.bio {
	padding-top:;
	color:white;
	font-size: 1.2rem;
  font-family: 'Inter', sans-serif;	line-height:1.8;
	display: flex;
	flex-flow:column;
	padding-left: 20vw;
	padding-right: 20vw;
  text-align: left;
  line-height: 2.2rem;
}

.blurb {
	padding-top:;
	color:#e0e0e0;
	font-size: 0.8rem;
  font-family: 'Inter', sans-serif;	line-height:1.8;
	display: flex;
	flex-flow:column;
	padding-left: 20vw;
	padding-right: 20vw;
  text-align: left;
  line-height: 1rem;
}

.blurb p{
  margin:auto;
}

.sample {
	padding-top:;
	color:white;
	font-size: 10vw;
	font-family: "Larp";
	line-height:1.8;
	display: flex;
	flex-flow:column;
	padding-left: 15vw;
	padding-right: 15vw;
}

.glyphset {
	padding-top:;
	color:white;
	font-size: 8vw;
	font-family: "Larp";
	line-height:1.8;
	display: flex;
	flex-flow:column;
	padding-left: 10vw;
	padding-right: 10vw;
}

#left{
	text-align: left;
}

#right{
	text-align: right;
}

#copyright{
  font-family: sans-serif;
  color: white;
  z-index: 100;
  position:absolute;
  width:99%;
  padding:5;
  margin:auto;

}

.fade-in {
  animation: fadeIn 2s;
}

.fade-out {
  animation: fadeOut 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
